.transactions-page {
  background-color: #f8faff;
  padding: 40px 50px 40px 43px;
  display: flex;
  justify-content: flex-start;
}

.transactions-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  height: calc(100vh - 80px);
  overflow: auto;
}

@media screen and (min-width: 768px) {
  .transactions-container {
    margin-left: min(10%, 30px);
  }
}
@media screen and (min-width: 1200px) {
  .transactions-container {
    margin-left: min(10%, 60px);
  }
}

.transactions-container > h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
  margin: auto;
}
