.sign-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .sign-in {
    width: 50%;
  }
}

.sign-in-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 25px;
  width: 100%;
  max-width: 422.63px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .sign-in-card-container {
    position: relative;
    left: -8%;
  }
}

.sign-in-title {
  color: #000;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 6px;
}

.sign-in-caption {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 28px;
}

.sign-in-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  width: 100%;
  max-width: 422.635px;
}

@media screen and (max-width: 767px) {
  .sign-in-button-container {
    justify-content: flex-start;
  }
}

.sign-in-button-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 197.596px;
  max-height: 32.933px;
  flex-shrink: 0;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  color: var(--Secondary-Text, #858585);
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 20px;
}

@media screen and (max-width: 767px) {
  .sign-in-button-container > button {
    margin-right: 15px;
  }

  .sign-in-button-container > button > span {
    display: none;
  }
}

.sign-in-icon {
  margin-right: 11px;
}

@media screen and (max-width: 767px) {
  .sign-in-icon {
    margin-right: 0;
  }
}

.sign-in-card {
  width: 100%;
  max-width: 422.635px;
  max-height: 347.988px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-in-card > label {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-in-card > input {
  border-radius: 10px;
  background: var(--Background, #f5f5f5);
  width: 100%;
  max-width: 356.77px;
  max-height: 43.91px;
  flex-shrink: 0;
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 12px 16px;
  border: none;
  outline: none;
  margin: 11px 0 22px;
}

.forgot-password {
  color: var(--Link, #346bd4);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-in-button {
  border-radius: 10px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
  width: 100%;
  margin-top: 32px;
  border: none;
  outline: none;
  cursor: pointer;
}

.sign-in-register {
  color: var(--Secondary-Text, #858585);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  margin-top: 22px;
}

.sign-in-register > span {
  color: var(--Link, #346bd4);
}
