.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(180deg, #4285f4 0%, #3c83f9 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 60px 50px;
  z-index: 1;
}

.side-bar-hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .side-bar {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    position: static;
    width: 100%;
    max-width: 280px;
    height: calc(100vh - 80px);
    flex-shrink: 0;
  }
}

.side-bar > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .side-bar > header {
    justify-content: flex-start;
  }
}

.side-bar-title,
.side-bar-cross {
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .side-bar-cross {
    display: none;
  }
}

.side-bar > footer > p {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.side-bar > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: auto 0;
}

@media screen and (min-width: 768px) {
  .side-bar > section {
    justify-content: flex-start;
    margin: 0 0 auto;
  }
}

.dashboard-tab {
  width: 100%;
  list-style-type: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.active-tab {
  font-weight: 700;
}

.dashboard-icon {
  margin-right: 20px;
}
